<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-yozio-official"
		version="1.0.0">

	<name>Yozio Official</name>

	<description>
		This is a Cordova plugin which is supported officially by Yozio. Yozio is a mobile growth platform, you can find more here: https://yozio.com.
	</description>	

	<license>Commericial</license>

	<preference name="URI_SCHEME" />
	<preference name="YOZIO_APP_KEY" />
	<preference name="YOZIO_SECRET_KEY" />
	<preference name="YOZIO_UNIVERSAL_LINK_DOMAIN" />

	<!-- JavaScript Interface -->
	<js-module src="www/yozio-plugin.js" name="YozioPlugin">
		<clobbers target="YozioPlugin" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="YozioPlugin">
				<param name="android-package" value="com.yozio.YozioPlugin" />
				<param name="onload" value="true" />
			</feature>
			<access origin="https://*.yozio.com" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="application">
			<meta-data android:name="YozioAppKey" android:value="$YOZIO_APP_KEY" />
			<meta-data android:name="YozioSecretKey" android:value="$YOZIO_SECRET_KEY" />
			<meta-data android:name="YozioNewInstallMetaDataCallback" android:value="com.yozio.YozioNewInstallMetaDataCallback" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="application">
			<receiver android:name="com.yozio.MasterInstallReferrerReceiver" android:exported="true">
				<intent-filter>
					<action android:name="com.android.vending.INSTALL_REFERRER" />
				</intent-filter>
			</receiver>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*/application/activity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="$URI_SCHEME" android:host="yozio" android:path="/" />
			</intent-filter>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*/application/activity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https" android:host="deeplink.yozio.com" android:pathPrefix="/$YOZIO_APP_KEY" />
			</intent-filter>
		</config-file>

		<source-file src="src/android/com/yozio/YozioPlugin.java" target-dir="src/com/yozio" />
		<source-file src="src/android/com/yozio/MasterInstallReferrerReceiver.java" target-dir="src/com/yozio" />
		<source-file src="src/android/com/yozio/YozioNewInstallMetaDataCallback.java" target-dir="src/com/yozio" />

		<source-file src="libs/android/yozio-android-sdk.jar" target-dir="libs" />

	</platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="YozioPlugin">
				<param name="ios-package" value="YozioPlugin" />
			</feature>
			<access origin="https://*.yozio.com" />
		</config-file>

		<config-file target="*-Info.plist" parent="YozioAppKey">
			<string>$YOZIO_APP_KEY</string>
		</config-file>

		<config-file target="*-Info.plist" parent="YozioSecretKey">
			<string>$YOZIO_SECRET_KEY</string>
		</config-file>

		<config-file target="*-Info.plist" parent="YozioIosUniversalLinkDomain">
			<string>$YOZIO_UNIVERSAL_LINK_DOMAIN</string>
		</config-file>

		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
			<array>
				<dict>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>$URI_SCHEME</string>
					</array>
				</dict>
			</array>
		</config-file>

		<source-file src="libs/ios/Resources/YozioDefaults.plist" />

		<source-file src="src/ios/AppDelegate+YozioPlugin.m" />

		<header-file src="src/ios/YozioPlugin.h" />
		<source-file src="src/ios/YozioPlugin.m" />

		<header-file src="libs/ios/Yozio.h" />
		<source-file src="libs/ios/Frameworks/libYozio.a" framework="true" />

		<framework src="SafariServices.framework" weak="true" />

		<resource-file src="src/ios/yozio-plugin.entitlements" />

		<hook type="after_plugin_install" src="hooks/ios-configure-entitlements.js" />
		<hook type="before_plugin_uninstall" src="hooks/ios-configure-entitlements.js" />

	</platform>
	
</plugin>
